.formStyle {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formStyle > * {
  margin: 10px 0px;
}

.btnManageSkillContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btnManageSkill {
  padding: 5px;
  background-color: #0275d8;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.formElement {
  display: flex;
  flex-direction: column;
}

.submitBtn {
  margin: 5px auto 5px auto;

  padding: 10px;

  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 10px;
  background-color: #f76c6c;
  cursor: pointer;
}

.skillAndGradeElements > * {
  margin-right: 20px;
}

.label {
  text-transform: uppercase;
  font-weight: 600;
  color: #f76c6c;
}

.skillAndGradeElements {
  display: flex;
}

.skillAndGradeElements {
  margin-top: 10px;
}

.addSkillBtn {
  display: inline-block;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  background-color: #f76c6c;
  cursor: pointer;
  border-radius: 10px;
}

.skillAddedContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.skillAddedContainer > * {
  margin-right: 10px;
}

.skillsAdded li {
  margin: 4px 0;
  display: flex;
  justify-content: space-around;
  border: #f76c6c 1px solid;
  border-radius: 4px;
  padding: 2px;
}

.deleteSkillBtn {
  display: inline-block;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  background-color: #d9534f;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid black;
}

.card {
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.skillsAdded {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skillsLi {
  margin: 4px 0;
  display: flex;
  justify-content: space-around;
  border: #f76c6c 1px solid;
  border-radius: 4px;
  padding: 2px;
}

.btnValidateForm {
  margin: 0px auto;
  color: white;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.validateColor {
  background-color: #198754;
}
